# https://EditorConfig.org
# ======================================
# 配置规则如下：
# * => 匹配任何字符串，路径分隔符 (/) 除外
# ** => 匹配任意字符串
# ? => 匹配任意单个字符串
# [name] => 匹配名称中的任何单个字符
# [!name] => 匹配名称中没有的任何单个字符
# {s1, s2, s3} => 匹配任何给定的字符串（用逗号分隔）
# {num1..num2} => 匹配 num1 和 num2 之间的任意整数，其中 num1 和 num2 可以是正数也可以是负数
# (特殊字符可以使用反斜杠转义，这样它们就不会被解释为通配符模式)
# ======================================

# 控制配置文件 .editorconfig 是否生效的字段
root = true

# 匹配全部文件
[**]
# 缩进风格，可选 space｜tab
indent_style = space
# 缩进的空格数
indent_size = 4
# 是否删除一行中的前后空格
trim_trailing_whitespace = true
# 是否使文件以一个空白行结尾
insert_final_newline = true
# 设置字符集
charset = utf-8
# 行尾符
end_of_line = lf

# 匹配 md 文件
[**.md]
trim_trailing_whitespace = false
