#《gitignore 语法》
# 空行或以 # 开头的行将被 Git 忽略，可以用作注释。
# 星号 * 代表零个或多个任意字符。       例如, *.txt 会匹配所有的 .txt 文件。
# 问号 ? 代表一个任意字符。            例如, ?.txt 会匹配 a.txt 但不会匹配 ab.txt。
# 方括号 [] 可以匹配括号内的任一字符。  例如, [abc].txt 会匹配 a.txt，b.txt 和 c.txt。
# 两个星号 ** 表示任意中间目录。        例如, **/foo 会匹配 foo，a/foo，a/b/foo 等。
# 前缀 ! 表示不忽略。                  例如, *.txt 和 !important.txt 会忽略所有的 .txt 文件，但不会忽略 important.txt。
# 前缀 / 表示只忽略当前目录下的文件。   例如, /test 会忽略当前目录下的 test 文件，但不会忽略 a/test。
# 后缀 / 表示只忽略目录。              例如, test/ 会忽略 test 目录，但不会忽略 test 文件。

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
