import router from '@/router/index';
import useAxiosInterceptors from '@/utils/use-axios';
import { clearStorage } from '@/utils/local-storage';

const { get, post } = useAxiosInterceptors({
    url: import.meta.env.VITE_API_URL as string,

    storageTokenKey: 'token',

    // 退出登录
    expireCallback: () => {
        clearStorage();
        router.push(`/login?redirect=${router.currentRoute.value.path}`);
    },
});

export { get, post };
